flask
sqlalchemy
flask-sqlalchemy
flask-migrate
flask-cors
pytesseract
pillow
opencv-python
requests
beautifulsoup4
python-dotenv
pandas
numpy
werkzeug
email_validator
xmltodict
PyPDF2
xhtml2pdf
google-generativeai
google-genai
pymysql
